body {
  background-color: #000;
}

.toolbar {
  float: right;
  z-index: 9999;
  margin: 10px;
  background: transparent;
}

.toolbar > a {
  display: none;
  margin: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  transition: 1s color;
  moz-transition: 1s color; /* Firefox 4 */
  -webkit-transition: 1s color; /* Safari 和 Chrome */
  -o-transition: 1s color; /* Opera */
  color: #c2c2c2;
}

.toolbar > a:hover {
  color: #fff;
}

.counter {
  float: left;
  z-index: 9998;
  background: transparent;
}

.counter > span {
  display: none;
  font-family: "Comic Sans MS";
  font-size: 80px;
  font-weight: bolder;
  color: #c2c2c2;
  margin: 30px;
}